<div class="login-container">
  <div class="login-image"></div>
  <div class="login-form">
    <div class="login-box">
      <div class="logo">
        <h1>Vital-Voyage</h1>
      </div>
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password">
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>